DROP TABLE IF EXISTS Notifications; DROP TABLE IF EXISTS PushTokens; DROP TABLE IF EXISTS ServiceItems; CREATE TABLE PushTokens (TokenID INT AUTO_INCREMENT PRIMARY KEY, UserID INT, Token VARCHAR(255), DeviceType VARCHAR(50), CreatedAt TIMESTAMP DEFAULT CURRENT_TIMESTAMP, UNIQUE(UserID, Token), FOREIGN KEY (UserID) REFERENCES Users(UserID) ON DELETE CASCADE); CREATE TABLE Notifications (NotificationID INT AUTO_INCREMENT PRIMARY KEY, UserID INT, Title VARCHAR(255), Message TEXT, Type VARCHAR(50), IsRead BOOLEAN DEFAULT FALSE, CreatedAt TIMESTAMP DEFAULT CURRENT_TIMESTAMP, INDEX (UserID), FOREIGN KEY (UserID) REFERENCES Users(UserID) ON DELETE CASCADE); CREATE TABLE ServiceItems (ServiceItemID INT AUTO_INCREMENT PRIMARY KEY, RequestID INT, ItemID INT, QuantityUsed INT NOT NULL CHECK (QuantityUsed > 0), FOREIGN KEY (RequestID) REFERENCES ServiceRequests(RequestID) ON DELETE CASCADE, FOREIGN KEY (ItemID) REFERENCES Inventory(ItemID) ON DELETE CASCADE); ALTER TABLE ServiceRequests MODIFY COLUMN Status VARCHAR(50) DEFAULT 'pending'; ALTER TABLE ServiceRequests ADD COLUMN IF NOT EXISTS RejectionReason TEXT;
