ALTER TABLE ServiceRequests ADD COLUMN RejectionReason TEXT; CREATE TABLE PushTokens (TokenID INT AUTO_INCREMENT PRIMARY KEY, UserID INT, Token VARCHAR(255) UNIQUE, DeviceType VARCHAR(50), CreatedAt TIMESTAMP DEFAULT CURRENT_TIMESTAMP, FOREIGN KEY (UserID) REFERENCES Users(UserID)); CREATE TABLE Notifications (NotificationID INT AUTO_INCREMENT PRIMARY KEY, UserID INT, Title VARCHAR(255), Message TEXT, IsRead BOOLEAN DEFAULT FALSE, CreatedAt TIMESTAMP DEFAULT CURRENT_TIMESTAMP, FOREIGN KEY (UserID) REFERENCES Users(UserID)); CREATE TABLE IF NOT EXISTS ServiceItems (ServiceItemID INT AUTO_INCREMENT PRIMARY KEY, RequestID INT, ItemID INT, QuantityUsed INT, FOREIGN KEY (RequestID) REFERENCES ServiceRequests(RequestID), FOREIGN KEY (ItemID) REFERENCES Inventory(ItemID));
