CREATE TABLE ServiceItems (ServiceItemID INT AUTO_INCREMENT PRIMARY KEY, RequestID INT, ItemID INT, QuantityUsed INT, FOREIGN KEY (RequestID) REFERENCES ServiceRequests(RequestID), FOREIGN KEY (ItemID) REFERENCES Inventory(ItemID));
